<h1>{{ person }}'s dashboard</h1>


<style>
    .dashboard-header {


    }
    .dashboard {
        display: table;

    }

    .dashboard .row {
        text-wrap: none;

        display: table-row;
    }
    .dashboard .row .box {
        display: table-cell;
        overflow: hidden;
        padding: 4px;
    }
    .dashboard .row .box a {
        height: 70px;
        width: 70px;


        display: block;
        border: thin black solid;

        text-align: center;
        text-decoration: none;
        color: black;
    }
    .dashboard .row .box.disabled a {
        color: gainsboro;
    }
    .dashboard .row .box.disabled a:hover {
        cursor: default;
    }
    .dashboard .row .box a span {
        font-size: 50px;


    }
    textarea {

        right: 0;
        top: 0;
        width: 500px;
        height: 500px;
        position: absolute;
    }

</style>

 <div class="dashboard-header">
     <div class="buttons">
         <input type="button" value="Previous" />
         <input type="button" value="Next" />


     </div>
    <div class="info">
        Info
    </div>
    <div>
        Report type
    </div>
</div>
<div class="dashboard">

    {% for x in companies %}
        <div class="row">
            <div class="info">
                Launch report for
                {{ x.company }}
            </div>
            {% for key, val in x.boxes %}
                {% if val %}
                    <div class="box">
                        <a alt="Create incident type {{ key }} form" href="{% url 'SomeApplication:report' key x.person_id x.company %}">
                            <span>{{ key }}</span>
                        </a>
                    </div>
                {% else %}

{#                    <div class="box disabled">#}
{#                        <a alt="Create incident type {{ key }} form" href="">#}
{#                            <span>{{ key }}</span>#}
{#                        </a>#}
{#                    </div>#}
                {% endif %}

            {% endfor %}

        </div>
    {% endfor %}
</div>
<textarea>
    put some mystery content here
</textarea>